.info {
    min-height: 839px;
    position: relative;
    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 205px;
    }
    &__item {
        width: 22%;
        margin: 0 75px;
    }
    &__round {
        background: $orange-color;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 100px auto;
    }
    &__header {
        font-weight: bold;
        font-size: 27px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 0.09em;
        color: $orange-color;
    }
    p {
        font-weight: 300;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: 0.09em;
        margin-top: 50px;
    }
}